*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    background-color: gray;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-top: 71px;
    padding-left: 100px;
}

.logo > p{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 120%;
letter-spacing: 1px;

}
.links{
    display: flex;
    gap: 106px;
    padding-top: 77px;

}

.links > a{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 1px;
}

.icons{
    display: flex;
    gap: 85px;
    padding-top: 81px;
    padding-right: 124px;
}

.icons > img{
    width: 18px;
height: 21.494px;
flex-shrink: 0;
}

/* section1----------------- */

.section1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 108px;
    gap: 87px;
    
}

.text{
padding-top: 127px;
}

.text > b{
    color: #F7515C;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 0%;
}
.text > p{
    color: #282A30;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 650px;
margin-top: 62px;
margin-bottom: 47px;
}
.buttons{
    display: flex;
    gap: 67px;
}

.buttons > .btn1{
    width: 207px;
    height: 78px;
    flex-shrink: 0;
    background: #F7515C;
    color: #FFF;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}
.buttons > .btn2{
    width: 207px;
    height: 78px;
    background-color: white;
border: none;

}

.btn2 > a{
    color: #282A30;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.image > img{
    width: 465px;
height: 698px;
flex-shrink: 0;
}


/* section2---------------- */

.section2{

    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 128px;
    padding-top: 319px;
    padding-right: 100px;

}
.text_s2{
    display: flex;
    flex-direction: column;

}
.text_s2 > b{

    color: #282A30;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;

}

.text_s2 > span{

font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 55px;
color: black;

}

.text_s2 > p{

    color: rgba(40, 42, 48, 0.50);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 518px;
margin-bottom: 48px;
}
.text_s2 > button{

width: 230px;
height: 78px;
flex-shrink: 0;
background: #F7515C;
color: #FFF;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}

.image_s2 > img{
    width: 483px;
height: 723px;
}

/* section3--------------- */


.section3{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.title_s3 > p{
    color: #000;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.title_s3 > b{
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
}
.img_s3 > img{
    width: 1009px;
    height: 577px;

}
.img_s3{
    padding: 87px 215px;
}
.title_s3{
    padding-top: 294px;
    padding-left: 95px;
}
.section3 > img{
    position: absolute;
    top: 2962px;
    left: 285px;
}

.cart1{
    width: 449px;
height: 199px;
background-color: white;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
gap: 13px;
position: absolute;
top: 2590px;
left: 86px;
box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);

}
.cart1 > b{
    color: #282A30;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cart1 > p{
    color: rgba(40, 42, 48, 0.40);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 238px;
}
.cart2{
    width: 449px;
height: 199px;
background-color: white;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
gap: 13px;
position: absolute;
top: 2449px;
right: 256px;
box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);

}

.cart2 > b{
    color: #282A30;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cart2 > p{
    color: rgba(40, 42, 48, 0.40);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 238px;
}
.cart3{
    width: 449px;
height: 199px;
background-color: white;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
gap: 13px;
position: absolute;
top: 2962px;
right: 126px;
box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);

}
.cart3 > b{
    color: #282A30;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cart3 > p{
    color: rgba(40, 42, 48, 0.40);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 238px;
}


/* section4-------------- */

.section4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 165.7px;

}
.title_s4{
    padding-left: 95px;

}
.title_s4 > b{
    color: #282A30;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.title_s4 > p{
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.products{
    width: 100%;
    height: auto;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    padding: 44px 95px;
}
.product1 > img{
width: 277px;
height: 312px;
}
.product1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product1 > p{
    color: #282A30;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 44px;
margin-bottom: 17px;
}
.product1 > b{
    color: rgba(40, 42, 48, 0.30);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* section5------------------- */

.section5{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 218px;
    padding-top: 278px;
}
.text_s5{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.image_s5 > img{
    width: 506px;
height: 714px;
padding-bottom: 148px;
}
.text_s5 > p{
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text_s5 > b{
    color: #282A30;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text_s5 > button{
    width: 240px;
height: 90px;
flex-shrink: 0;
color: #FFEDED;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #F7515C;
border: none;
margin-top: 64px;

}


/* <!-- footer----------------- --> */

.footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 187px;
    padding: 100px 100px;
    
}
.arrow{
    width: 1242px;
height: 2px;
flex-shrink: 0;
background-color: #282A30;;

}
.box1{
    display: flex;
    flex-direction: column;
    gap: 34px;

}
.box1 > p{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 1px;
}
.box1 > a{
    color: rgba(40, 42, 48, 0.80);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 1px;
}
.box2 > p{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 1px;
}
.box2 > a{
    color: rgba(40, 42, 48, 0.80);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 1px;
width: 155px;
}
.box3 > p{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 1px;
}
.box3 > a{
    color: rgba(40, 42, 48, 0.80);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 1px;
}
.box4 > p{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 1px;
}
.box4 > b{
    color: rgba(40, 42, 48, 0.80);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 1px;
width: 249px;
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 27px;

}
.box3{
    display: flex;
    flex-direction: column;
    gap: 27px;

}
.box4{
    display: flex;
    flex-direction: column;
    gap: 27px;

}



/* watermark----------- */

.watermark{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.watermark > p{
    font-size:smaller;
    color: gray;
    opacity: 0,7;
}




